.menu {
    background-color: #b0d9f7;
}

.details {
    border-width: 0.75pt;
    border-style:solid;
    border-color:white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.detailsFont {
    font-size: xx-small;
    text-align: center;
}

m2 {
    margin: 20px;
}

.m15 {
    margin-top: 2%;
}
.s20 {
    width: 15%;
}

.tempFont {
    font-size: 70px;
}

.suppression {
    margin-left: 103%;
    margin-top: 30%;
}

.card {
    background-image: linear-gradient(#65bbf8a2, #ffffffbb), url("ciel.jpeg");
    background-position: center;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

#details {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px -50px -52px -50px;
    background: #00000020;
    margin-top: 25px;
    border-radius: 0px 0px 15px 15px;
}

.title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#dayText {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
}

#dateText {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

#tempText {
    text-align: center;
    font-size: 52px;
}

#descText {
    font-size: 18px;
    text-transform: capitalize;
}

.box {
    width: 25%;
    height: 125px;
    padding: 20px 10px 10px 10px;
}

.box:hover {
    background: #00000030;
    width: 30%;
}

.box.left:hover {
    border-radius: 0px 0px 0px 15px;
}

.box.right:hover {
    border-radius: 0px 0px 15px 0px;
}

a {
    color: black;
}

.container.block{
    background-image: linear-gradient(#65bbf8a2, #ffffffbb), url("ciel.jpeg");
    background-position: center;
    padding: 40px 50px 52px 50px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.wi-fw {
    vertical-align: middle;
    width: 2em;
  }