<html lang="fr" ng-app="myApp">

<body>
<div class="main">
    <div class="row" ng-controller="meteovillesCtrl">
        <h2 class="center">{{title}}</h2>
        <div ng-repeat="city in cities">
            <div class="col s12 m6 l6">
                <div class="container block">
                    <div class="container block1">
                        <div class="title">{{city.name}}</div>
                        <a id="dayText">{{city.day}}</a> <br>
                        <a id="dateText">{{city.date}}</a> <br>
                        <a id="tempText">{{city.temperature}}</a> <br>
                        <img class="wi-fw" src="{{city.icon}}"/>
                        <a id="descText">{{city.description}}</a> <br>

                        <a class="btn blue lighten-3" href="#!previsions/?id={{city.id}}">Prévisions</a>

                    </div>

                    <div id="details" class="row">
                        <div class="box left">
                                <a id="titre">Vitesse du vent</a> <br> <br>
                                <a id="windText">{{city.wind}}</a>
                            </div>
                        <div class="box middle">
                            <a id="titre">Humidité</a> <br> <br>
                            <a id="humText">{{city.humidity}}</a>
                        </div>
                        <div class="box middle">
                                <a id="titre">Pression</a> <br> <br>
                                <a id="pressText">{{city.pressure}}</a>
                            </div>
                        <div class="box right">
                            <a id="titre">Pluie</a> <br> <br>
                            <a id="visText">{{city.rain}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>