<html lang="fr" ng-app="myApp">

<body>
<div class="main">
    <div class="row" ng-controller="previsionsCtrl">
        <div ng-repeat="day in days">
            <div class="col s12 m6 l12">
                <div class="container block">
                    <div class="container block1">
                        <div class="title">{{day.name}}</div>
                        <a id="dayText">{{day.day}}</a> <br>
                        <a id="dateText">{{day.date}}</a> <br>
                        <a id="tempText">{{day.temperature}}</a> <br>
                        <img class="wi-fw" src="{{day.icon}}"/>
                        <a id="descText">{{day.description}}</a> <br>

                    </div>

                    <div id="details" class="row">
                        <div class="box left">
                                <a id="titre">Vitesse du vent</a> <br> <br>
                                <a id="windText">{{day.wind}}</a>
                            </div>
                        <div class="box middle">
                            <a id="titre">Humidité</a> <br> <br>
                            <a id="humText">{{day.humidity}}</a>
                        </div>
                        <div class="box middle">
                                <a id="titre">Pression</a> <br> <br>
                                <a id="pressText">{{day.pressure}}</a>
                            </div>
                        <div class="box right">
                            <a id="titre">Pluie</a> <br> <br>
                            <a id="visText">{{day.rain}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>