<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row" ng-controller="villesCtrl">
    <div class="row">
        <form ng-submit="villesCtrl.add()">
            <div class="col s12">
                <div class="input-field col s10">
                    <i class="material-icons prefix">place</i>
                    <input id="icon_prefix" type="text" class="validate" ng-model="city" required>
                    <label for="icon_prefix">Ville</label>
                </div>
                <br>
                <div class="btn col s2 center blue lighten-3" ng-click="addCity(city)">Ajouter</div>
            </div>
        </form>
    </div>
    <div class="row" >
        <div class="col s3" ng-repeat="city in cities track by $index">
            <div class="card blue-grey">
                <div class="card-content white-text">
                    <span class="card-title center">{{city.name}}</span>
                    <div class="col s1 offset-s11">
                        <div class="row suppression">
                            <a class="btn-floating btn-small waves-effect waves-light red suppression" ng-click="removeCity($index)">
                                <i class="material-icons">close</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>